.nav-ul li{
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.nav-ul li a{
  text-decoration: none;
}

.nav-ul{
      padding: 5px;
      margin: 0;
      background-color: orange;
      font-family: fantasy;
      text-align: center;
}

.inputForm{
  margin-left: 30%;
}

.inputForm input {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue
}
.btn{
  margin: 27px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.footer{
      text-align: center;
        position: absolute;
        bottom: 0;
        background-color: orange;
        width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
